development: &defaults
  adapter: mysql2
  encoding: utf8
  host: 178.128.121.71
  database: peatio2_development
  username: admin
  password: P3gajahan
  pool: 10
  reconnect: true

test:
  <<: *defaults
  database: peatio2_test

production:
  <<: *defaults
  database: peatio2_production
